.main {
    min-height: calc(100vh - 66px);
    width: 90%;
    margin: 0 auto;
}
.title {
    margin: 100px 45%;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 20px;
    color: rgb(71, 69, 69);
}
