.containerMain {
  background-image: url(./assets/bgmain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}

h1 {
  text-align: center;
  padding: 100px;
}